
html, body
{
  height: 100%;
  margin: 0;
  padding: 0;
  background: #edf1f5;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: #686868;
    font-weight: 300;
}

a {
    color: #337ab7;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #2b2b2b;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

h3 {
    line-height: 30px;
    font-size: 21px;
}

*,
*:focus,
*:hover {
    outline: none;
}

.btn-link {
    font-weight: 400;
    color: #0275d8;
}

.btn-link:focus,
.btn-link:hover {
    color: #014c8c;
    text-decoration: none;
}

table .btn-link {
    padding-left: 0;
    padding-right: 0;
}

.m-t-20 {
    margin-top: 20px;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table {
    margin-bottom: 10px;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    padding: 5px 8px;
}

.table.v-top > tbody > tr > td {
    vertical-align: top;
}

.table-bordered,
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    vertical-align: middle;
    border-top: 1px solid #e4e7ea;
}

.table > thead:first-child > tr:first-child > th {
    border-top: 1px solid #e4e7ea;
}

.table > thead > tr > th {
    border-bottom: none;
}

th {
    color: #666;
    font-weight: 500;
    white-space: nowrap;
}

.answers-list {
    display: inline-block;
    padding: 10px 15px 0;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    color: #014c8c !important;
}

.details_percentage {
    color: #f44336;
    font-weight: 500;
}

tbody {
    color: #797979;
}

.table-hover > tbody > tr:hover,
.table-striped > tbody > tr:nth-of-type(2n+1),
.table > tbody > tr.active > td,
.table > tbody > tr.active > th,
.table > tbody > tr > td.active,
.table > tbody > tr > th.active,
.table > tfoot > tr.active > td,
.table > tfoot > tr.active > th,
.table > tfoot > tr > td.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > thead > tr.active > th,
.table > thead > tr > td.active,
.table > thead > tr > th.active {
    background-color: #f7fafc !important;
}

.table tbody tr td.user-avatar img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

@media screen and (max-width: 767px) {
  .table-responsive {
    border: none;
  }
}

textarea {
    resize: none;
    min-height: 38px;
}

#header {
    position: fixed;
    top: 0;
    padding-top: 10px;
    width: 100%;
    z-index: 999;
    background-color: #fff;
}

#page-wrapper {
    padding: 30px 10px;
    background: #edf1f5;
    min-height: 100%;
}

.card {
    position: relative;
    word-wrap: break-word;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
}

.card-body {
    padding: 20px;
}

.card-title {
    margin: 0 0 12px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
}

.form-control {
    border: 1px solid #e4e7ea;
    border-radius: 0;
    box-shadow: none;
    color: #565656;
    height: 38px;
    max-width: 100%;
    padding: 7px 12px;
    transition: all 300ms linear 0s;
}

.form-control:focus {
    box-shadow: none;
    border-color: #2b2b2b;
}

.label-help {
    font-weight: 300;
}

.btn {
    border-radius: 0;
}

.btn-success,
.btn-success.disabled {
    background: #00c292;
    border: 1px solid #00c292;
}

.btn-success.disabled.focus,
.btn-success.disabled:focus,
.btn-success.disabled:hover,
.btn-success.focus,
.btn-success:focus,
.btn-success:hover,
.btn-success:active:focus,
.btn-success:active:hover {
    background: #00c292;
    border: 1px solid #00c292;
}

.input-group-addon {
    background-color: #fff;
    border: none;
    border-radius: 0;
}

.percentage_done {
    width: 90px;
}

.form-error {
    color: #f44336;
}

.storage_thumb {
    position: relative;
    height: 40px;
    width: 71px;
    overflow: hidden;
}

.storage_thumb img {
    height: 40px;
    width: auto;
}


/* box start */
.box {
    position: relative;
    display: block;
    margin-bottom: 10px;
    padding: 20px;
    overflow: hidden;
}

.box.box-white {
    background-color: #fff;
    /*box-shadow: 0 2px 0 rgba(0,0,0,0.1);*/
}

.box-child {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.box-child.box-grey {
    background-color: #f5f5f5;
}

.box h3 {
    text-align: center;
}

.box-image {
    position: relative;
    display: block;
    overflow: hidden;
    height: 440px;
}

.box-image.small-image {
    height: 76px;
    width: 90px;
}

.box-image img {
    position: absolute;
    vertical-align: middle;
    left: 50%;
    transform: translate(-50%,0);
    z-index: 1;
    height: 440px;
    width: auto;
}

.box-image.small-image img {
    height: 76px;
}

.letter-filter > li {
    width: 30px;
    height: 34px;
}

.letter-filter > li > a {
    display: block;
    line-height: 34px;
    font-weight: 500;
    text-align: center;
    color: #333;
}

iframe {
    max-width: 100%;
}
/* box end */
